* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            
        }
        body{
            position: relative;
        }
        .hdrContain{
             position: absolute;
            top: 0;
            z-index: 2;  
            padding: 15px 0;
            width: 100%;
        }
          .navMenu{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 67px;
        }
        .introLogo{
            padding-right: 20px;
        }
        .introLogo a img{
            width: 180px;
        }
        .toggle{
            display: block;
            padding-left: 20px;
            cursor: pointer;
            position: relative;
            z-index: 9999;
        }
        .toggle span{
            display: block;
            width: 35px;
            height: 5px;
            background-color: #ffffff ;
            margin-bottom: 5px;
            cursor: pointer;
        }
           .toggle span{
        transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
        }
        .toggle.open span:nth-child(2){
            width: 0;
        }
        .toggle.open span:nth-child(1){
            transform: rotate(45deg) translate(7px, 7px);
            background-color: #fff;
        }
        .toggle.open span:nth-child(3) {
            transform: rotate(-46deg) translate(7px, -7px);
            background-color: #fff;
        }
        .mobtoggle{
            display: none;
        }
        .mainMenu {
            position: fixed;
            top: 180px;
            left: 80px;
            padding: 30px 30px 30px 80px;
            border-radius: 30px;
            background-color: #fff;
            /* background: rgba(255, 255, 255, 0.7); */
            opacity: 0;
            visibility: hidden;
            transform: translateY(0);
            transition: all 0.3s ease;
            z-index: 2222;
        }
        .mainMenu.show{
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
        }
        .mainMenu ul{
            display: block;
            margin:0 auto;
        }
        .mainMenu ul li{
            padding: 8px 0;
            /* text-align: center ; */
        }
        .mainMenu ul li a{
            font-weight: 500;
            font-size: 18px;
            color: #000000;
            text-transform: uppercase;
            display: inline-block;
            text-decoration: none;
            position: relative;
           
        }
        .introArw {
            display: block;
            width: 12px;
            height: 12px;
            border-right: 3px solid #000000;
            border-bottom: 3px solid #000000;
            transform: rotate(45deg);
            transition: 0.3s ease;
        }
         .has-sub.active .introArw {
            transform: rotate(-135deg);
        }
        .SubMenu{
            width: 100%;
            position: relative;
            max-height: 0;
            overflow: hidden;
            transition: max-height .4s ease;
        }
        .SubMenu ul{
            margin: 0;
            padding: 8px 20px;
        }
        .SubMenu ul li{
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
        }
        .SubMenu ul li a{
            padding: 6px 0;
        }
        .pgIndro{
            position: relative;
            width: 100%;
            height: 100vh; 
            min-height: 800px;
        }
        /* .pgIndro::after{
            content: "";
            position: absolute;
            top: 0;
            width: 100%;
            height: 100vh;
            min-height: 800px;
            background-color: rgba(0, 0, 0, 0.3);
            overflow: hidden;
        } */
        .pgIndro video{
            position: absolute;
            top: 0;
            left: 0;
            /* left: 50%;
            transform: translate(-50%,-50%); */
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
        }
        .introCnt{
            position: absolute;
            bottom: 60px;
            width: 100%;
            z-index: 1;
            left: 0;
            right: 0;
            padding: 20px 0;
        }
        .introTxt{
            display: flex;
            justify-content: flex-end;
        }
        
        .introPgTxt{
            position: relative;
            max-width: 500px;
            color: #fff;
            border-left: 12px solid #fff;
            padding-left: 20px;
        }
        .introPgTxt h3{
            font-size: 23px;
            margin-bottom: 10px;
        }
        .MenuBar ul{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .MenuBar ul li{
            padding: 5px 25px;
            position: relative;
        }
         .MenuBar ul li a{
            color: var(--primary-color);
            font-weight: 600;
            text-transform: capitalize;
            transition: 0.3s all;
         }
        .MenuBar ul li a:hover{
           border-bottom: 1px solid var(--primary-color);
        }
        .copyRight{
             position: absolute;
            bottom: 25px;
            left: 0;
            right: 0;
            color: #fff;
            font-size: 14px;
            z-index: 2;
            text-align: center;
            padding: 0 20px;
        }
        .copyRight p{
            font-weight: 400;
        }
        .introSce{
            display: none;
        }
        /*  */
        .submenu{
            display: none;
            position: absolute;
            width: 250px;
            top: 100%;
            left: 0;
        }
      .MenuBar ul li:hover .submenu {
             display: block;
        }

        /* Style submenu box */
        .submenu ul {
            background-color: var(--primary-color);
            padding: 10px;
            display: block;
        }
        .submenu ul li{
            border-bottom: 1px solid var(--secondary-color);
        }
        .submenu ul li:last-child{
            border-bottom: 0;
        }
        .submenu ul li a {
            color: #fff;
            display: block;
            padding: 6px 15px;
            border: none;
        }
         .submenu ul li a:hover{
           border-bottom: 0 !important;
        }
        .has-sub .menu-head {
            display: flex;
            align-items: center;
            gap: 18px;
            cursor: pointer;
        }

        .arrow {
            display: none;
            width: 12px;
            height: 12px;
            border-right: 3px solid #fff;
            border-bottom: 3px solid #fff;
            transform: rotate(45deg);
            transition: 0.3s ease;
        }
        .has-sub.active .arrow {
            transform: rotate(-135deg);
        }
        .nav_link{
            color: var(--primary-color) !important;
        }
      
        /* Header Section */
        .hero-section1 {
            background-image: url(../assets/banner.jpg);
            background-position: 0 85%;
            background-size: cover;
            position: relative;
            height: 100%;
            min-height: 850px;
            text-align: center;
            padding: 80px 0 0;

        }
        .introLogo img{
            width: 270px;
        }
        .navButtons{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;
            padding-top: 30px;
        }

        .NavBtn{
            background-image: url(../assets/btn.png);
            width: 200px;
            height: 30px;
            background-position: center;
            background-size: cover;
            padding-top: 5px;
            font-size: 14px;
        }
        /* FOOD DIVISION */
        .fdHero-contain{
            background-image: url(../assets/bodyBg1.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            height: 100%;
            text-align: center;
            padding: 80px 0 120px;
        }
        .logo-container{
            background-color: #fff;
            padding:60px 30px;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
         .fd-colmn a{
            text-align: center;
            display: flex;
            justify-content: center;
         }
         .fd-col1 img{
            width: 77px;
        }
        .fd-col1{
            width: 100px;
            height: 100px;
            border: 1px solid var(--primary-color);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .fd-colmn h4{
            color: var(--primary-color);
            text-align: center;
            margin-top: 10px;
        }
        .fd-colmn h4 span{
            display: block;
        }
        .logo{
            position: relative;
        }
        .logo::after{
            position: absolute;
            content: "";
            width: 100%;
            height: 1px;
            background-color: var(--primary-color);
            left: 270px;
            top: 50%;
        }
        .logo::before{
            position: absolute;
            content: "";
            width: 100%;
            height: 1px;
            background-color: var(--primary-color);
            right: 270px;
            top: 50%;
        }
        .logo img{
            width: 240px;
        }
        .pgLogoBlk{
            padding: 30px ;
        }
        .pgLogo img{
            text-align: center;
            width: 160px;
        }
        .premium-blk{
            /* background-color: var(--primary-color); */
            margin-top: 30px;
            padding:15px 40px 0;  
        }
        .prem_head {
            /* border-bottom: 1px solid var(--secondary-color); */
            color: var(--primary-color);
        }
        .prem_head h2{
            font-weight: 700;
            text-align: center;
            margin-top: 30px;
            font-size: 30px;
            margin-bottom: 20px;
            line-height: 1.2;
        }
        .prem_head h2 span{
            display: block;
        }
        .prmFd-Blk{
            padding-top: 80px;
            /* color: var(--secondary-color); */
            text-align: left;
        }
        .prmFd-Blk .row{
            display: flex;
            justify-content: center !important;
        }
        .prFdImg{
            display: flex;
            justify-content: flex-end;
        }
        .prFdImg img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .prmTxt h3{
            font-weight: 600;
            font-size: 26px;
            margin-bottom: 30px;
            color: var(--secondary-color);
        }
        .prmTxt P{
            margin-bottom: 10PX;
            color: var(--secondary-color);
        }
        .prmFd_list{
            padding-top: 60px;
        }
        .prmFd_list ul li{
            position: relative;
            padding-bottom: 8px;
            padding-left: 20px;
        }
        .prmFd_list ul li::before{
            position: absolute;
            content: "";
            top: 13px;
            left: 0;
            width: 10px;
            height: 1px;
            background-color: var(--primary-color);
        }
        .Fd_contact-blk{
             padding: 80px 0 ;
            color: #fff;
            text-align: left;
        }
        .Fd-col h3,
        .Fd-col p{
            color: var(--primary-color);
        }
        /* COMPANY */
        .comTxt {
           color: var(--primary-color); 
           padding: 15px 50px;
        }
        .comTxt h3{
            font-weight: 400;
            margin-bottom: 15px;
            font-size: 22px;
        }
        .comTxt p{
            margin-bottom: 12px;
        }
        .RL-mission{
            background-color: var(--primary-color);
            padding: 50px;
        }
        .rlmvBlk{
           border-bottom: 1px solid #b48152;
           border-top: 1px solid #b48152;
           padding: 35px 80px;
        }
        .rlMv-blk{
            display: flex;
            gap: 30px;
            text-align: left;
            color: var(--primary-color);
        }
        .rlImg{
            width: 16%;
            padding-top: 40px;
        }
        .rlImg img{
            width:95px;
        }
        .rlTxt{
            width: 70%;
            color: var(--secondary-color) ;
        }
        .rlTxt h3{
            font-weight: 400;
            font-size: 28px;
            margin-bottom: 10px;
        }
        .msnList li{
            list-style: disc;
            /* padding: 5px 0; */
        }
         .contact-info h2{
            text-align: center;
            font-size: 30px;
            font-weight: 400;
            color: var(--primary-color);
            margin-bottom: 40px;
        }
        .RL-blk{
            display: flex;
            color: #fff;
            text-align: left;
            gap: 20px;
        }
        .RLBlk-img{
            width: 20%;
            margin-top: 15px;
        }
        .RLBlk-img img{
            width: 60px;
        }
        .rlBlk-Cnt{
            width: 80%;
        }
        .rlBlk-Cnt h3{
            font-size: 20px;
            color: #714517;
        }
         .rlBlk-Cnt p{
            color: #714517;
            font-size: 15px;
         }
         .whyHd h2{
            color: var(--primary-color);
            margin: 33px 0;
            font-weight: 500;
            font-size: 28px;
         }
        /* FOOD BRAND */
        .fdBrnd{
            padding: 30px;
            /* padding-bottom: 50px; */
            background-color: var(--primary-color);
        }
       
        /* CLIENT */
        .clientDiv{
            background-color: var(--primary-color);
            
        }
        .clntHead{
            margin-top: 30px;
        }
        .clntHd h2{
            color: var(--secondary-color) ;
            margin-bottom: 10px;
        }
        .clnt-Blk{
            margin-top: 30px;
            
        }
        .clnt-Blk h3{
            font-weight: 400;
           color: var(--secondary-color) ;
            margin-bottom: 15px;
        }
         .clnt-Blk p{
            color: var(--secondary-color) ;
        }
        .clntImg-blk{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 30px;
            background-color: #fff;
            /* gap: 10px; */
        }
         .clntImg{
            width: 20%;
            padding: 10px ;
            /* background-color: #fff;
            height: 130px; */
         }
        /* CONTACT */
        .cntct-blk{
            padding: 50px 0;
            border-bottom: 1px solid var(--primary-color);
            padding-left: 30px;
        }
        .cntct-blk .row .col-md-6{
            display: flex;
            justify-content: center ;
        }
        .cntSec{
            display: flex;
            gap: 30px;
            text-align: left;
        }
        .RlIcon{
            width: 10%;
        }
        .cntDiv{
            background-color: #fff;
            margin-top: 50px;
            padding: 30px;
        }
        .cntDiv h2{
            color: var(--primary-color);
        }
        .rlLocate{
            width: 85%;
            color: var(--primary-color);
        }
        .rlLocate a{
            color: var(--primary-color);
        }
        .formSection{
            padding: 50px 0;
        }
        .formSection h3{
            font-weight: 400;
            font-size: 24px;
            margin-bottom: 10px;
            /* color: var(--primary-color); */
        }
        .frm-contain{
            background-color: #ededed;
            padding: 40px ;
            margin-top: 30px;
            border-radius: 40px;
        }
        .inp-box input{
            width: 100%;
            padding: 14px 20px;
            border: 1px solid #ccc;
            font-size: 16px;
            font-family: "Poppins", sans-serif;
            outline: none;
        } 
        .inp-box textarea{
            width: 100%;
            height: 150px;
            padding: 14px 20px;
            border: 1px solid #ccc;
            font-size: 16px;
             font-family: "Poppins", sans-serif;
             outline: none;
        }
        .inp-box input::placeholder,
        .inp-box textarea::placeholder{
            text-transform: capitalize;
            font-size: 16px;
        } 
        .frm-contain .col-md-6{
            padding-left: 5px;
            padding-right: 5px;
            margin-bottom: 10px;
        }
        .frm-contain .col-md-12{
            padding-left: 5px;
            padding-right: 5px;
        }
        .sndBtn{
            background-color: transparent;
            border: none;
            outline: none;
            padding-top: 20px;
            cursor: pointer;
        }
        .mapContainer {
            width: 100%;
            height: 400px;
            overflow: hidden;
            }
            /* PRODUCTS */
            .prtHd h2{
                color: var(--primary-color);
                border-bottom: 1px solid var(--primary-color);
                padding-bottom: 10px;
            }
            .prdcts-col{
                border-top: 1px solid var(--primary-color);
            }
            .prdcts-col .col-lg-4{
                margin-bottom: 25px;
                padding-left: 0;
                padding-right: 0;
            }
            .prdct-blk{
                display: flex;
                gap: 20px;
                text-align: left;
                padding: 15px 0;
            }
            .prImg {
                width: 30%;
                height: auto;
            }
            .prImg img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .prCnt{
                width: 70%;
            }
            .prCnt h3{
                font-weight: 500;
                font-size: 22px;
                color: var(--primary-color);
            }
            .prCnt p{
                color: var(--primary-color);
            }

            /* INDUSTRIAL */
            /* INDUS_PRODUCT */
            .ind-Pr{
                margin-top: 50px;
                padding:50px 30px;
            }
            .indusPr{
                padding-top: 0;
                border-top: 1px solid var(--primary-color);
                margin-bottom: 50px;
            }
            .indus-prHead h2{
                color: var(--primary-color);
                padding-top: 30px;
            }
            .accordion {
                background-color: transparent;
                color: var(--secondary-color);
                cursor: pointer;
                padding: 18px;
                width: 100%;
                border-top: 1px solid var(--secondary-color);
                border-left: 0;
                border-bottom: 1px;
                border-right: 0;
                text-align: left;
                outline: none;
                font-size: 18px;
                transition: 0.4s all;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-weight: 600;
                }
                .lastList{
                    border-bottom: 1px solid var(--secondary-color);
                }
                .dwnArrow {
                    width: 80px;
                    display: flex;
                    justify-content: flex-end;
                }
                .dwnArrow img{
                    width: 25px;
                    transition: 0.3s all;
                }

                .pr-active {
                /* background-color: #ffffff;  */
                /* color: var(--primary-color); */
                border-bottom: 1px solid var(--secondary-color);
                }
                .pr-active .dwnArrow img{
                    transform: rotate(180deg);
                }
                .panel {
                padding: 25px 18px;
                display: none;
                /* background-color: white; */
                overflow: hidden;
                text-align: left;
                color: var(--secondary-color);
                
                }
                .indusPr-Txt p{
                    margin-bottom: 10px;
                }
                .prList{
                    display: flex;
                    gap: 60px;
                    padding: 15px 0;
                }
                .list1 li{
                    padding: 5px 0;
                    font-weight: 500;
                }
                .indusPrImg{
                    display: flex;
                    justify-content: flex-end;
                }
                .indusAbt p{
                   color: var(--primary-color);
                }
                .prmFd_list li{
                    color: var(--primary-color);
                }
                .indClnt{
                    padding-bottom: 60px;
                }
        /* Contact Section */
        .contact-blk{
            padding: 80px 0 30px;
            color: #fff;
            text-align: left;
            margin-top: 12%
        }
         .cont-head  p{
            text-align: center;
         } 
         /* .contact-card{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
         }   
        .Ftr-Logo{
            width: 40%;
        }
        .Ftr-Logo img{
            width: 130px !important;
        }
        .contSec{
            display: flex;
            align-items: center;
            gap: 10px;

        }
        .contSec{
            border-right: 1px solid var(--primary-color);
        }
        .contact-card a{
            color: var(--primary-color);
        }
        
        .number a{
            color: var(--primary-color);
            
        }
        .cnt-colImg img{
            width: 60px;
        }
        .cont-head{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .social a{
            font-size: 25px;
        }
        .contact-info h3{
            font-size: 20px;
            font-weight: 500;
            color: #714517;
        }
        .contact-info p{
            margin-bottom: 5px;
            color: #714517;
        }
        .contact-info p span{
            display: block;
        } */
        .copy{
            background-color: var(--primary-color);
            text-align: center;
            padding: 25px 0;
            margin-top: 50px;
           
        }
        .cpy-right p{
             color: var(--secondary-color);
        }
        .socail{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 15px;
            transition: all 0.3s;
        }
        .socail li{
            width: 40px;
            height: 40px;
            border: 1px solid #fff;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 10px;
        }
        .socail li a{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .socail li img{
            width: 16px;
        }
        .fbImg{
            width: 12px !important;
        }
        .socail li a img:hover{
            transform: scale(1.1);
        }
        .wtsApp-btn{
            width: 60px;
            height: 60px;
            background-color: rgb(0, 168, 0);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: fixed;
            right: 30px;
            bottom: 40px;
            z-index: 9999;
            animation: pulse 1.5s infinite ease-in-out;
        }
        .wtsApp-btn a{
            color: #fff;
            font-size: 40px;
        }
        @keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 168, 0, 0.6);
    }
    70% {
        transform: scale(1.1);
        box-shadow: 0 0 0 20px rgba(0, 168, 0, 0);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 168, 0, 0);
    }
}
       
.brndTxt p,
.brndTxt h3{
    color: var(--secondary-color);
}